<div style="overflow: hidden;">
    <div class="container-fluid top_bar">
        <div class="row top_bar_row">
          <div class="col-sm" id="JoinPhytoCommunity">
            Join The Community
          </div>
          <!-- <div class="col-sm" id="VisitPhytoCommunity">
            VisitPhytoCommunity
          </div> -->
        </div>
    
      </div>
      <!--nav bar-->
      <div class="container-fluid naviBar">
        <div class="row justify-content-around">
          <div class="col-md-auto" style="padding: 0;">
            <a class="nav-item nav-link" style="color: black;">
              <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
              <img src="assets/images/hamberger.png" />
            </a>
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item">
              <a class="nav-link" style="color: black;" [routerLink]="['/']" >Home</a>
            </div>
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item dropdown">
              <a [routerLink]="['/events']"  class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" style="color: black;">Action</a>
                  <a class="dropdown-item" style="color: black;">Another action</a>
                  <a class="dropdown-item" style="color: black;">Something else here</a>
                </div> -->
            </div>
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item dropdown">
              <a [routerLink]="['/manufacturer']"  class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Manufacturers
                <!-- <img src="/images/Component2_1.png"> -->
              </a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" style="color: black;">Action</a>
                  <a class="dropdown-item" style="color: black;">Another action</a>
                  <a class="dropdown-item" style="color: black;">Something else here</a>
                </div> -->
            </div>
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item dropdown">
              <a [routerLink]="['/colorcosmetics']" class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Products
              </a>
            </div>
          </div>
          <div class="col-lg-2" style="padding: 0;">
            <img src="assets/images/logo2.png" class="logo" />
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item">
              <a [routerLink]="['/contactus']" class="nav-link" style="color: black;">Contact Us</a>
            </div>
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item">
              <a [routerLink]="['/joblisting']" class="nav-link" style="color: black;">Jobs</a>
            </div>
          </div>
          <!-- <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item">
              <a class="nav-link" style="color: black;">Help</a>
            </div>
          </div> -->
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item dropdown">
              <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
               <span style="font-weight: normal;cursor: pointer;" [routerLink]="['/login']">LogIn</span> / <span [routerLink]="['/signup']" style="font-weight: normal;cursor: pointer;">Register</span>
              </a>
            </div>
          </div>
          <div class="col-md-auto" style="padding: 0;">
            <div class="nav-item">
              <a class="nav-link" style="color: black;"><img src="assets/images/searchh.png" /></a>
            </div>
    
          </div>
        </div>
      </div>

    <!-- BOCP -->
    <!-- <div class="bocp">
        <p style="font-size: xx-large !important;font-family: Playfair Display !important;"><span>B</span>usiness
            <span>O</span>f <span>C</span>onsumer <span>P</span>roducts
        </p>
    </div> -->
    <!-- main body -->
    <div class="mainbody" style="filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161))">
        <div class="container-fluid top_bar">
            <div class="row top_bar_row">
                <div class="col-lg-7" style="display: grid;place-items: center;">
                    <img src="assets/images/jobimg2.png" style="width: 100%;position: relative;top: 60px;">
                </div>
                <div class="col-lg-4" style="display: grid;place-items: center;">
                    <div
                        style="background-color:rgba(255, 255, 255, 0.1); border-radius: 50px;height:50%;left: 30px;width: 100%;position:relative">
                        <p style=" font-family: playfair Display; text-align: center; color: white;font-size: 30px;position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;">Join Phyto Community &<br> Be A Part Of Logistics Engineering</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top: 84px;left:30px;">
            <div class="col-lg-6" style="display: grid;place-items: center;">
                <p style="text-align: left;font-size: 30px; font-family: playfair Display;width: 65%;">Digital
                    Transformation With The Right Talent</p>
            </div>
            <div class="col-lg-6" style="display: grid;place-items: center;">
                <p style="text-align: left;font-size: 15px; font-family: Poppins;width: 60%;"> We are driven by the
                    strength of our people. Our workspace is a creative podium for the free-flow of ideas and concepts.
                    Our culture is based on creativity, collaboration and empathy.</p>
            </div>
        </div>
        <br />
        <div class="row" style="padding:0px 70px 0px 0px;">
            <div class="col-lg-4" style="padding: 10px 10px 10px 0px;">
                <p style="text-align: left;font-size: 20px;color: red; font-family: Poppins;margin-left: 85px;">01</p>
                <p style="text-align: left;font-size: 25px; font-family: Poppins;margin-left: 85px;">PRIDE</p>
                <p style="text-align: left;font-size: 15px; font-family: Poppins;margin-left: 85px;">We are proud of our
                    work and our people, and encourage healthy inter-personal relationships based on mutual respect.</p>
            </div>
            <div class="col-lg-4" style="padding: 10px 10px 10px 0px;">
                <p style="text-align: left;font-size: 20px;color: red; font-family: Poppins;margin-left: 85px;">02</p>
                <p style="text-align: left;font-size: 25px; font-family: Poppins;margin-left: 85px;">PEOPLE</p>
                <p style="text-align: left;font-size: 15px; font-family: Poppins;margin-left: 85px;">We foster teamwork
                    and value collaborations to ensure all employees work towards common business goals.</p>
            </div>
            <div class="col-lg-4" style="padding: 10px 10px 10px 0px;">
                <p style="text-align: left;font-size: 20px;color: red; font-family: Poppins;margin-left: 85px;">03</p>
                <p style="text-align: left;font-size: 25px; font-family: Poppins;margin-left: 85px;">DIVERSITY</p>
                <p style="text-align: left;font-size: 15px; font-family: Poppins;margin-left: 85px;">Everyone is
                    welcome! We have an inclusive workplace culture and embrace diversity as a key business priority.
                </p>
            </div>
        </div>
        <div class="row" style="padding:0px 70px 0px 0px;">
            <div class="col-lg-4" style="padding: 10px 10px 10px 0px;">
                <p style="text-align: left;font-size: 20px;color: red; font-family: Poppins;margin-left: 85px;">04</p>
                <p style="text-align: left;font-size: 25px; font-family: Poppins;margin-left: 85px;">IDEAS</p>
                <p style="text-align: left;font-size: 15px; font-family: Poppins;margin-left: 85px;">The Phyto Community
                    is full of creative people with a free-flow of ideas. Come to our Ideation room and get inspired!
                </p>
            </div>
            <div class="col-lg-4" style="padding: 10px 10px 10px 0px;">
                <p style="text-align: left;font-size: 20px;color: red; font-family: Poppins;margin-left: 85px;">05</p>
                <p style="text-align: left;font-size: 25px; font-family: Poppins;margin-left: 85px;">LIFE</p>
                <p style="text-align: left;font-size: 15px; font-family: Poppins;margin-left: 85px;">We love to see
                    smiling faces! PhytoCommunity encourages disconnect to reconnect to ensure employees have a full
                    life.</p>
            </div>
            <div class="col-lg-4" style="padding: 10px 10px 10px 0px;">
                <p style="text-align: left;font-size: 20px;color: red; font-family: Poppins;margin-left: 85px;">06</p>
                <p style="text-align: left;font-size: 25px; font-family: Poppins;margin-left: 85px;">FUN</p>
                <p style="text-align: left;font-size: 15px; font-family: Poppins;margin-left: 85px;">We end every week
                    on a high note – with a rejuvenating high tea. Put your hair down and unwind with some delicious
                    treats.</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col" style="display:grid;place-items: center;">
                <p style="font-size: 28px; font-family: Playfair Display; text-align:center;width: 50%;">"We believe in
                    rewarding quality performance and celebrating our success with our people"</p>
                <p style="font-size: 15px; font-family: Poppins; text-align:center;width: 50%;color: rgba(86,86,86,1);">
                    Samir Sharma, Phyto Community</p>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row" style="background-color:rgba(241,214,214,1);margin-top: 30px;padding: 20px;">
                <div class="col" style="display: flex;">
                    <button style="color:black;
      font-size: 15px !important;background-color:rgba(241,214,214,1);padding: 6px;border-radius: 5px;border: none;"
                        type="button"><img style="width: 18px;margin-top: -3px;"
                            src="assets/images/refresh.png">&nbsp;&nbsp;Refresh</button>
                </div>
                <div class="col">
                    <div style="display: flex;justify-content: space-between;gap: 20px;place-items: center;">
                       <img src="assets/images/suitcase.png" style="width: 25px;height: 25px;"> <input type="text" class="searchinput" placeholder="Search By Title, Skills or Company">

                       <img src="assets/images/placeh.png" style="width: 25px;height: 25px;"><input type="text" class="searchinput" placeholder="Location">
                    </div>
                </div>

            </div>
            <div>
                <div class="row"
                    style="background-color:rgba(252,239,239,1) ;margin-left: 215px; margin-right: 215px;padding: 20px 20px 5px 80px;">

                    <div class="col-lg-6">
                        <h6>Technical Account Manager</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Artsai <img src="assets/images/best-seller_1.png" style="width: 15px;"></p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            New York, NY (Hybrid)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Medical, +1 benefit</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h6>Technical Account Manager</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Artsai <img src="assets/images/best-seller_1.png" style="width: 15px;"></p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            New York, NY (Hybrid)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Medical, +1 benefit</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>

                </div>
                <div class="row"
                    style="background-color:rgba(252,239,239,1) ;margin-left: 215px; margin-right: 215px;padding: 20px 20px 5px 80px;">

                    <div class="col-lg-6">
                        <h6>E-Commerce Marketplace Channel Manager</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Paddy O'​ Furniture</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Job Type: On-Site</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Greater Phoenix Area (On-site)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h6>E-Commerce Marketplace Channel Manager</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Paddy O'​ Furniture</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Job Type: On-Site</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Greater Phoenix Area (On-site)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>

                </div>
                <div class="row"
                    style="background-color:rgba(252,239,239,1) ;margin-left: 215px; margin-right: 215px;padding: 20px 20px 5px 80px;">

                    <div class="col-lg-6">
                        <h6>Billing Specialist</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Terran Systems <img src="assets/images/check_g.png" style="width: 15px;"></p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Santa Clara, CA</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Medical, +1 benefit</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h6>Billing Specialist</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Terran Systems <img src="assets/images/check_g.png" style="width: 15px;"></p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Santa Clara, CA</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Medical, +1 benefit</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                </div>
                <div class="row"
                    style="background-color:rgba(252,239,239,1) ;margin-left: 215px; margin-right: 215px;padding: 20px 20px 5px 80px;">

                    <div class="col-lg-6">
                        <h6>Commercial Real Estate Appraiser</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Material Bank®</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            United States (Remote)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            $100K/yr - $250K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h6>Commercial Real Estate Appraiser</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Material Bank®</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            United States (Remote)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            $100K/yr - $250K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                </div>
                <div class="row"
                    style="background-color:rgba(252,239,239,1) ;margin-left: 215px; margin-right: 215px;padding: 20px 20px 5px 80px;">

                    <div class="col-lg-6">
                        <h6>Senior Quality Engineer</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Material Bank®</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            United States (Remote)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            $100K/yr - $250K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h6>Senior Quality Engineer</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Material Bank®</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            United States (Remote)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            $100K/yr - $250K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                </div>
                <div class="row"
                    style="background-color:rgba(252,239,239,1) ;margin-left: 215px; margin-right: 215px;padding: 20px 20px 5px 80px;">

                    <div class="col-lg-6">
                        <h6>Senior Quality Engineer</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Material Bank®</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            United States (Remote)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            $100K/yr - $250K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h6>Senior Quality Engineer</h6>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            Material Bank®</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            United States (Remote)</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            $100K/yr - $250K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            $90K/yr (from job description) · 5 benefits</p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px">
                            <img src="assets/images/right-arrow.png" style="width: 15px;"> Message the job poster
                            directly
                        </p>
                        <p style="margin-bottom: 0.3rem;color: rgba(100,96,96,1);font-family: poppins;font-size: 13px;">
                            <img src="assets/images/human-resources.png" style="width: 12px;height: 12px;"> Actively
                            Recruting
                        </p>
                        <p style="margin-top: 10px;">
                            <button class="btn"
                                style="color: black;background-color: rgba(246,222,222,1) !important;font-size: 12px;padding: 5px;border-radius: 5px;width: 30%;"
                                type="button">Easy Apply</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="footer container-fluid">
        <div class="bocp-logo"><img style="width: 10%;" src="assets/images/bcp.png"></div>
    
        <div class="row rowfooter">
          <div class="col-4 columns">
            <div class="heading"><span style="font-size: large;">For The Consumer Goods Industry</span></div>
            <p style="line-height: 19px !important;">Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
              enim mauris vitae ullamcorper maecenas enim, fermentum.
              Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
              enim mauris vitae ullamcorper maecenas enim, fermentum.
              Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
              enim mauris vitae ullamcorper maecenas enim, fermentum.
              Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
              enim mauris vitae ullamcorper maecenas enim, fermentum.
            </p>
            <p>Copyright <img src="assets/images/icons8-copyright-24.png" class="copyright-img" /> 2022. bocp All Rights
              Reserved.</p>
          </div>
          <div class="col-2 columns">
            <ul>
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [routerLink]="['/aboutus']">About Us</a></li>
              <li><a [routerLink]="['/contactus']">Contact Us</a></li>
              <li><a [routerLink]="['/']">Terms & Conditions</a></li>
              <li><a [routerLink]="['/']">Privacy Policies</a></li>
            </ul>
          </div>
          <div class="col-3 columns">
            <ul>
              <li><a [routerLink]="['/manufacturer']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Manufacturer<img src="assets/images/icons8-dropdown-24.png"
                    class="dropdown-img" /></a>
                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
                  <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
                  <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
                </div> -->
              </li>
              <li><a [routerLink]="['/brandlisting']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Brands<img src="assets/images/icons8-dropdown-24.png" class="dropdown-img" /></a>
                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
                  <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
                  <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
                </div> -->
              </li>
              <li><a [routerLink]="['/login']">Manufacturer LogIn/Register</a></li>
              <li><a [routerLink]="['/signup']">Brand LogIn/Register</a></li>
              <!-- <li><a [routerLink]="['/eventsuccess']">Help</a></li> -->
            </ul>
          </div>
          <div class="col-3 columns">
            <div class="heading" style="padding: 38px;">Connect With Us</div>
            <ul class="icons">
              <li><a><img src="assets/images/icons8-instagram-26.png" class="icon-img" /></a></li>
              <li><a><img src="assets/images/icons8-facebook-32.png" class="icon-img" /></a></li>
              <li><a><img src="assets/images/twitterwhite.png" class="icon-img" /></a></li>
            </ul>
          </div>
        </div>
        <br /><br />
      </div>
</div>