<div style="overflow: hidden">
  <div class="sidebar" [ngClass]="{'show': showSidebar}">
    <div
    style="
      background-color: rgba(253, 238, 238, 1);
      position: relative;
      padding-bottom: 20px;
      padding-top: 20px;
    "
  >
    <div></div>
    <div (click)="toggleSidebar()" style="position: absolute; right: 0px; top: 0px; margin: 20px;cursor: pointer;">
      <img src="assets/images/close.png" style="height: 30px;" />
    </div>
    <div style="position: absolute; left: 0px; top: 0px; margin: 20px">
      <img
        src="assets/images/search.png"
        style="height: 30px; display: block; margin-bottom: 20px"
      />
      <img
        src="assets/images/instagram.png"
        style="display: block; margin-bottom: 10px"
      />
      <img src="assets/images/twitter.png" style="display: block; margin-bottom: 10px"/>
      <img src="assets/images/linkedin.png" style="display: block; margin-bottom: 10px"/>
      <img src="assets/images/whatsapp.png" style="display: block; margin-bottom: 10px"/>
      <img src="assets/images/facebook.png" style="display: block; margin-bottom: 10px"/>
      <img src="assets/images/logoshade.png" style="width: 90%;
      display: grid;
      margin-left: -77px;
      margin-top: 130px;">
    </div>
    <!-- logo -->

    <div class="logo" style="text-align: center; margin-bottom: 20px">
      <img src="assets/images/logo.png" />
    </div>
    <div class="row"
      style="
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;color: black;
      "
    >
    <div class="col-lg-8" style="display: grid;
    justify-content: flex-end;">
      <p style="cursor: pointer;" [routerLink]="['/']">Home</p>
      <p style="cursor: pointer;" [routerLink]="['/events']">Events</p>
      <p style="cursor: pointer;" [routerLink]="['/manufacturer']">Manufacturer</p>
      <p>Products</p>
      <p style="cursor: pointer;" [routerLink]="['/joblisting']">Jobs</p>
      <p style="cursor: pointer;" [routerLink]="['/contactus']">Contact Us</p>
      <p style="font-weight: bold">Manufacturer <span style="cursor: pointer;" [routerLink]="['/login']">LogIn</span>/<span style="cursor: pointer;" [routerLink]="['/signup']">Register</span></p>
      <p style="font-weight: bold">Brand <span style="cursor: pointer;" [routerLink]="['/login']">LogIn</span>/<span style="cursor: pointer;" [routerLink]="['/signup']">Register</span></p>
      <p>Terms & Conditions</p>
      <p>Privacy Policies</p>
      </div>
      <div class="col-lg-4">
        <img src="assets/images/logoshade.png" style="width: 140%;">
      </div>
    </div>
    <div style="text-align: center; margin: 30px">
      <img src="assets/images/envelop.png" />
    </div>
    <div>
      <p
        style="
          text-align: center;
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          color: rgba(0, 0, 0, 1);
          padding-left: 50px;
          padding-right: 50px;
        "
      >
        We’re building the community of tomorrow, and making it easier for
        entrepreneurs, indie founders, marketers, and sales professionals to
        learn and connect with each other.
      </p>
    </div>
  </div>
    <!-- <button (click)="toggleSidebar()">Toggle Sidebar</button> -->
</div>

  <div class="container-fluid top_bar">
    <div class="row top_bar_row">
      <div class="col-sm" id="JoinPhytoCommunity">Join The Community</div>
      <!-- <div class="col-sm" id="VisitPhytoCommunity">
        VisitPhytoCommunity
      </div> -->
    </div>
  </div>
  <!--nav bar-->
  <div class="container-fluid naviBar">
    <div class="row justify-content-around">
      <div class="col-md-auto" style="padding: 0">
        <a class="nav-item nav-link" style="color: black">
          <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
          <img (click)="toggleSidebar1()" style="cursor: pointer;" src="assets/images/hamberger.png" />
        </a>
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item">
          <a class="nav-link" style="color: black" [routerLink]="['/']">Home</a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item dropdown">
          <a
            [routerLink]="['/events']"
            class="nav-link"
            style="color: black"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Events
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: black;">Action</a>
              <a class="dropdown-item" style="color: black;">Another action</a>
              <a class="dropdown-item" style="color: black;">Something else here</a>
            </div> -->
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item dropdown">
          <a
            [routerLink]="['/manufacturer']"
            class="nav-link"
            style="color: black"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Manufacturers
            <!-- <img src="/images/Component2_1.png"> -->
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: black;">Action</a>
              <a class="dropdown-item" style="color: black;">Another action</a>
              <a class="dropdown-item" style="color: black;">Something else here</a>
            </div> -->
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item dropdown">
          <a
            [routerLink]="['/colorcosmetics']"
            class="nav-link"
            style="color: black"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Products
          </a>
        </div>
      </div>
      <div class="col-lg-2" style="padding: 0">
        <img src="assets/images/logo2.png" class="logo" />
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item">
          <a [routerLink]="['/contactus']" class="nav-link" style="color: black"
            >Contact Us</a
          >
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item">
          <a
            [routerLink]="['/joblisting']"
            class="nav-link"
            style="color: black"
            >Jobs</a
          >
        </div>
      </div>
      <!-- <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;">Help</a>
        </div>
      </div> -->
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item dropdown">
          <a
            class="nav-link"
            style="color: black"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span
              style="font-weight: normal; cursor: pointer"
              [routerLink]="['/login']"
              >LogIn</span
            >
            /
            <span
              [routerLink]="['/signup']"
              style="font-weight: normal; cursor: pointer"
              >Register</span
            >
          </a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0">
        <div class="nav-item">
          <a class="nav-link" style="color: black"
            ><img src="assets/images/searchh.png"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <!-- BOCP -->
  <!-- <div class="bocp">
    <p style="font-size: x-large !important;font-family: 'Libre Franklin', sans-serif !important;font-weight: bold;color: rgba(190,17,11,1);">For The Consumer Goods Industry</p>
  </div> -->
  <div>
    <video
      style="object-fit: cover; height: 100%; width: 100%"
      src="assets/images/skincarevdeo.mp4"
      type="video/mp4"
      autoplay
      loop
      muted
    ></video>
  </div>
  <div class="blurredtext">
    <div style="width: fit-content; margin: auto">
      <h4
        style="
          font-family: 'Playfair Display';
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1px;
        "
      >
        About Us
        <hr style="height: 2px" />
      </h4>
    </div>
    <p>
      We’re building the community of tomorrow, and making it easier for
      entrepreneurs, indie founders, marketers, and sales professionals to learn
      and connect with each other.
    </p>
    <p>
      In an industry that generates $500 billion in sales a year and accounts
      for millions of jobs, Beauty Business Journal is a place for valued
      conversations – to share experiences, insights, and solutions to the
      challenges we face building modern brands.
    </p>
    <p>
      The community is for strategic thinkers, brand builders, and lifelong
      learners who want to understand the complexities of today’s beauty
      industry. It’s a space to ask questions, start important discussions, and
      expand your knowledge.
    </p>
    <p>
      Becoming a member is also a way to support the effort that goes into
      researching and creating thousands of articles, publishing our weekly
      newsletter, and maintaining such a large database of content. Your
      contribution makes Beauty Business Journal a sustainable platform.
    </p>
    <br />
    <div style="display: flex; justify-self: center">
      <button
        style="
          color: white;
          width: 150px;
          font-size: 15px !important;
          background-color: #663130 !important;
          padding: 10px;
          border: none;
          border-radius: 5x;
        "
        type="button"
      >
        Read More
      </button>
    </div>
  </div>
  <div
    class="container"
    style="
      width: 100%;
      max-width: none;
      padding: 0;
      position: relative;
      text-align: start;
    "
  >
    <img src="assets/images/homecenter.png" style="width: 100%" />
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(10%, -50%);
        width: 40%;
      "
    >
      <p
        style="
          font-family: Playfair Display;
          font-size: 30px;
          font-weight: bold;
          color: rgba(122, 54, 22, 1);
          letter-spacing: 1px;
        "
      >
        The community is for strategic thinkers, brand builders & lifelong
        learners.
      </p>
      <br />
      <p style="font-size: 15px; font-family: Poppins">
        Becoming a member is also a way to support the effort that goes into
        researching and creating thousands of articles, publishing our weekly
        newsletter, and maintaining such a large database of content. Your
        contribution makes Beauty Business Journal a sustainable platform.
      </p>
      <br />
      <div style="display: flex; justify-content: start" [routerLink]="['/contactus']">
        <button 
          style="
            color: white;
            width: 200px;
            font-size: 18px !important;
            background-color: rgba(102, 49, 48, 1) !important;
            padding: 10px;
            border: none;
            border-radius: 5px;
          "
          type="button"
        >
          Connect With Us
        </button>
      </div>
    </div>
  </div>
  <br /><br />
  <div style="width: fit-content; margin: auto">
    <h4
      style="
        font-family: 'Playfair Display';
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
      "
    >
      Product Categories
      <hr style="height: 2px" />
    </h4>
  </div>
  <br />
  <div
    class="row row-cols-1 row-cols-md-4 g-2"
    style="
      display: flex;
      justify-content: center;
      max-width: 100%;
      row-gap: 50px;
      margin: 0 auto;
      text-align: -webkit-center;
    "
  >
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/cream1.png" />
        <p style="padding: 10px; color: #663130">Body</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/hair.png" />
        <p style="padding: 10px; color: #663130">Hair</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/personal.png" />
        <p style="padding: 10px; color: #663130">Personal Care</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/cream1.png" />
        <p style="padding: 10px; color: #663130">Face</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/cosmetics.png" />
        <p style="padding: 10px; color: #663130">Colour Cosmetics</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/cannabis.png" />
        <p style="padding: 10px; color: #663130">Cannabis</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/nuet.png" />
        <p style="padding: 10px; color: #663130">Nutraceuticals</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/pet.png" />
        <p style="padding: 10px; color: #663130">Pet care</p>
      </div>
    </div>
    <div class="image-container">
      <div id="circle">
        <img src="assets/images/box.png" />
        <p style="padding: 10px; color: #663130">Packaging Components</p>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />
  <div style="position: relative">
    <img style="width: 100%" src="assets/images/homeimg1.png" />
    <div class="blurredtext1">
      <div style="width: fit-content; margin: auto">
        <h4
          style="
            font-family: 'Playfair Display';
            font-size: 30px;
            letter-spacing: 1px;
          "
        >
          Subscribe To Our New plans
        </h4>
      </div>
      <br />
      <p>
        When looking for a new bouquet idea for Valentines or Mother's Day, ask
        us for a tip!
      </p>
      <br />
      <div style="display: flex; justify-content: center" [routerLink]="['/manufacturersubscription']">
        <button
          style="
            color: white;
            width: 150px;
            font-size: 15px !important;
            background-color: #663130 !important;
            padding: 10px;
            border: none;
            border-radius: 5x;
          "
          type="button"
        >
          View Plans
        </button>
      </div>
    </div>
  </div>
  <br /><br />
  <div
    class="container"
    style="width: 100%; max-width: none; padding: 0; position: relative"
  >
    <div class="row">
      <div class="col" style="padding: 0">
        <img src="assets/images/homeimg3.png" style="width: 100%" />
      </div>
      <div class="col" style="padding: 0">
        <img src="assets/images/homeimg2.png" style="width: 100%" />
      </div>
    </div>
    <div class="blurredtext2">
      <div>
        <h4
          style="
            font-family: 'Playfair Display';
            font-size: 30px;
            letter-spacing: 1px;
          "
        >
          Read the Latest Issue of Phytolab Weekend
        </h4>
      </div>
      <br />
      <p>
        Becoming a member is also a way to support the effort that goes into
        researching and creating thousands of articles, publishing our weekly
        newsletter, and maintaining such a large database of content. Your
        contribution makes Beauty Business Journal a sustainable platform.
      </p>
      <br />
      <div style="display: flex; justify-content: start">
        <button
          style="
            color: black;
            width: 150px;
            font-size: 15px !important;
            background-color: white !important;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
          "
          type="button"
        >
          Read More
        </button>
      </div>
    </div>
  </div>
  <br />
  <div style="width: fit-content; margin: auto">
    <h4
      style="
        font-family: 'Playfair Display';
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
      "
    >
      Featured Companies
      <hr style="height: 2px" />
    </h4>
  </div>
  <br />
  <div class="row" style="padding: 0px 30px">
    <div
      class="col"
      style="display: grid; justify-content: center; align-items: center"
    >
      <h5
        style="
          font-family: Playfair Display;
          font-size: 25px;
          color: rgba(0, 0, 0, 1);
        "
      >
        Tell Us What You Need
      </h5>
      <input
        type="text"
        style="padding: 10px"
        class="input2"
        placeholder="Enter Product / Service Name"
      />
      <form
        #f="ngForm"
        [formGroup]="phoneForm"
        style="margin-left: -65px; width: 150%; margin-bottom: -25px"
      >
        <div class="wrapper input2">
          <ngx-intl-tel-input
            [cssClass]="'custom'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name
            ]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            name="phone"
            formControlName="phone"
          >
          </ngx-intl-tel-input>
        </div>
      </form>
      <input
        type="text"
        style="padding: 10px"
        class="input2"
        placeholder="Enter Your Country"
      />

      <input
        type="text"
        style="padding: 10px"
        class="input2"
        placeholder="Enter Your Name"
      />
      <div style="display: flex; justify-content: center">
        <button
          style="
            color: white;
            width: 150px;
            font-size: 18px !important;
            background-color: rgba(102, 49, 48, 1) !important;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
          "
          type="button"
        >
          Submit
        </button>
      </div>
    </div>
    <div class="col">
      <img src="assets/images/homeimg4.png" style="width: 100%" />
    </div>
  </div>
  <br /><br />
  <div class="row" style="padding: 0px 30px">
    <div class="col-lg-7">
      <img src="assets/images/homeimg5.png" style="width: 100%" />
    </div>
    <div
      class="col-lg-5"
      style="
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 20px;
      "
    >
      <h5
        style="
          font-family: Playfair Display;
          font-size: 25px;
          color: rgba(0, 0, 0, 1);
        "
      >
        Find A Job/Post A Job
      </h5>
      <p style="color: rgba(102, 49, 48, 1)">
        Massa nisi, integer convallis sed eu. Lacus, lorem bibendum in congue
        justo nisl, fames at ultrices. Mattis enim mauris vitae ullamcorper
        maecenas enim, fermentum. Massa nisi, integer convallis sed eu. Lacus,
        lorem bibendum in congue justo nisl, fames at ultrices. Mattis enim
        mauris vitae ullamcorper maecenas enim, fermentum.
      </p>
      <div style="display: flex; justify-content: center">
        <button
          style="
            color: white;
            width: 150px;
            font-size: 18px !important;
            background-color: rgba(102, 49, 48, 1) !important;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
          "
          type="button"
        >
          Explore
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div class="col" style="display: grid">
      <img src="assets/images/hmimg.png" style="width: 100%" />
      <div style="position: absolute; top: 8px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Skin Care</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 20px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
      <br />
      <img src="assets/images/hmimg3.png" style="width: 100%" />
      <div style="position: absolute; top: 380px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Face Care</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 30px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
    </div>
    <div class="col">
      <img src="assets/images/hmimg1.png" style="width: 100%" />
      <div style="position: absolute; top: 8px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Cannabis</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 20px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
    </div>
    <div class="col">
      <img src="assets/images/hmimg2.png" style="width: 100%" />
      <div style="position: absolute; top: 120px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Nutraceuticals</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 50px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
    </div>
    <div class="col">
      <img src="assets/images/hmimg6.png" style="width: 100%" />
      <div style="position: absolute; top: 8px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Personal Care</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 50px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
    </div>
    <div class="col">
      <img src="assets/images/hmimg5.png" style="width: 100%" />
      <div style="position: absolute; top: 8px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Body Care</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 30px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
    </div>
    <div class="col" style="display: grid">
      <img src="assets/images/hmimg4.png" style="width: 100%" />
      <div style="position: absolute; top: 8px; left: 16px">
        <p
          style="
            font-family: Playfair Display;
            font-size: 20px;
            font-weight: bold;
            padding: 16px 20px 0px 20px;
            letter-spacing: 1px;
          "
        >
          <b>Colour Cosmetics</b>
        </p>
        <h4
          style="
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            padding: 0px 60px;
            text-align: center;
          "
        >
          Explore All
          <hr style="margin: 0.5rem" />
        </h4>
      </div>
      <br />
      <div style="display: flex; justify-content: center">
        <button
          style="
            color: black;
            width: 200px;
            font-size: 15px !important;
            background-color: white !important;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
          "
          type="button"
        >
          Load More
        </button>
      </div>
    </div>
  </div>
  <br /><br />
  <div style="position: relative">
    <img style="width: 100%" src="assets/images/bg-newletter.png" />
    <div class="blurredtext1">
      <div style="width: fit-content; margin: auto">
        <h4
          style="
            font-family: 'Playfair Display';
            font-size: 30px;
            letter-spacing: 1px;
            color: white;
          "
        >
          Subscribe To Our Newsletter
        </h4>
      </div>
      <br />
      <p style="color: white">
        When looking for a new bouquet idea for Valentines or Mother's Day, ask
        us for a tip!
      </p>
      <br />
      <form
        [formGroup]="userForm"
        (ngSubmit)="subscribeForNewsletter(emailInput.value)"
      >
        <input
       
          class="input3"
          style="padding: 15px"
          placeholder="Enter Your Email ID"
          type="email" id="email" formControlName="email" #emailInput
        /><button
          class="btn"
          style="
            background-color: rgba(196, 101, 89, 1);
            border-radius: 0px;
            position: absolute;
            width: 40px;
            height: 40px;
          "
        >
          <img
            style="width: 130%; margin-left: -5px; margin-top: -4px"
            src="assets/images/paper.png"
          />
        </button>
      </form>
    </div>
  </div>
  <br />
  <div style="width: fit-content; margin: auto">
    <h4
      style="
        font-family: 'Playfair Display';
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
      "
    >
      Blogs
      <hr style="height: 2px" />
    </h4>
  </div>
  <br />
  <div class="footer container-fluid">
    <div class="bocp-logo">
      <img style="width: 10%" src="assets/images/bcp.png" />
    </div>

    <div class="row rowfooter">
      <div class="col-4 columns">
        <div class="heading">
          <span style="font-size: large">For The Consumer Goods Industry</span>
        </div>
        <p style="line-height: 19px !important">
          Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue
          justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper
          maecenas enim, fermentum. Massa nisi, integer convalis sed eu. Lacus,
          lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim
          mauris vitae ullamcorper maecenas enim, fermentum. Massa nisi, integer
          convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at
          ultrices. Mattis enim mauris vitae ullamcorper maecenas enim,
          fermentum. Massa nisi, integer convalis sed eu. Lacus, lorem bibendum
          in congue justo nisi, fames at ultrices. Mattis enim mauris vitae
          ullamcorper maecenas enim, fermentum.
        </p>
        <p>
          Copyright
          <img
            src="assets/images/icons8-copyright-24.png"
            class="copyright-img"
          />
          2022. bocp All Rights Reserved.
        </p>
      </div>
      <div class="col-2 columns">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/aboutus']">About Us</a></li>
          <li><a [routerLink]="['/contactus']">Contact Us</a></li>
          <li><a [routerLink]="['/']">Terms & Conditions</a></li>
          <li><a [routerLink]="['/']">Privacy Policies</a></li>
        </ul>
      </div>
      <div class="col-3 columns">
        <ul>
          <li>
            <a
              [routerLink]="['/manufacturer']"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Manufacturer<img
                src="assets/images/icons8-dropdown-24.png"
                class="dropdown-img"
            /></a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
              <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
              <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
            </div> -->
          </li>
          <li>
            <a
              [routerLink]="['/brandlisting']"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Brands<img
                src="assets/images/icons8-dropdown-24.png"
                class="dropdown-img"
            /></a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
              <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
              <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
            </div> -->
          </li>
          <li><a [routerLink]="['/login']">Manufacturer LogIn/Register</a></li>
          <li><a [routerLink]="['/signup']">Brand LogIn/Register</a></li>
          <!-- <li><a [routerLink]="['/eventsuccess']">Help</a></li> -->
        </ul>
      </div>
      <div class="col-3 columns">
        <div class="heading" style="padding: 38px">Connect With Us</div>
        <ul class="icons">
          <li>
            <a
              ><img
                src="assets/images/icons8-instagram-26.png"
                class="icon-img"
            /></a>
          </li>
          <li>
            <a
              ><img src="assets/images/icons8-facebook-32.png" class="icon-img"
            /></a>
          </li>
          <li>
            <a><img src="assets/images/twitterwhite.png" class="icon-img" /></a>
          </li>
        </ul>
      </div>
    </div>
    <br /><br />
  </div>
</div>
