<div style="
  background-color: rgba(102, 49, 48, 1);
  height: 15px;
  margin-bottom: 20px;
"></div>
<!-- logo -->

<div class="logo" style="text-align: center">
    <img src="assets/images/logo.png" />
</div>
<!-- grey line -->
<div style="
  border-bottom: 2px solid rgba(112, 112, 112, 0.8);
  margin-top: 10px;
"></div>
<!-- Payment Method -->
<div style="
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 50px;
">
    <p>Payment Method</p>
</div>
<div style="border-bottom: 2px solid rgba(112, 112, 112, 0.5)"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col" style="
      border-right: 2px solid rgba(112, 112, 112, 0.5);
      text-align: center;
    ">
            <p style="
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
      ">
                Total Pay: $800.00 USD
            </p>
            <p style="
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      ">
                Your Upgraded Plan
            </p>
            <div class="row row-cols-1 row-cols-md-2 g-2" style="text-align: start;display: flex;justify-content: center;">
               
        <div class="col" style="width: 75% !important;">
            <br/><br/>     
        <div class="card" style="filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));border-start-end-radius: 16px;
        border-start-start-radius: 16px;    border-end-end-radius: 16px;
        border-end-start-radius: 16px;">
        
        <div class="card-body" style="padding: 2rem 2rem;">
        <p style="font-family: Poppins;border-start-end-radius: 16px;
        border-start-start-radius: 16px;font-size: 17px"><b>Premium Plan</b></p>
        <p style="font-size: 12px;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;">Auto-Renew After Month</p>
        <p style="font-size: 16px;"><b>$230/Month</b></p>
        <p style="font-size: 15px;font-family: Poppins;margin-bottom: 1rem;"><img src="assets/images/checkmark.png"
                style="width: 20px;">&nbsp;&nbsp;&nbsp;<span>1 Ad Units on Home Page
                </span></p>
        <p style="font-size: 15px;font-family: Poppins;margin-bottom: 1rem;"><img src="assets/images/checkmark.png"
                style="width: 20px;">&nbsp;&nbsp;&nbsp;<span>3 Ad Units on Secondary Pages</span></p>
                <p style="font-size: 15px;font-family: Poppins;margin-bottom: 1rem;"><img src="assets/images/checkmark.png"
                    style="width: 20px;">&nbsp;&nbsp;&nbsp;<span>5 Ad Units on Other Pages</span></p>
                    <div class="row" style="font-size: 15px;font-family: Poppins;margin-bottom: 0.5rem;gap: 10px;"><div class="col-lg-1"><img src="assets/images/checkmark.png" style="width: 20px;"></div><div style="padding: 0;" class="col-lg-10"><span>  Display at the Top of Search Results When a Relevant Search Query initiated </span></div></div>
                    <p style="font-size: 15px;font-family: Poppins;margin-bottom: 1rem;"><img src="assets/images/checkmark.png"
                        style="width: 20px;">&nbsp;&nbsp;&nbsp;<span>Listed Among Premium</span></p>
        <p style="font-size: 15px;font-family: Poppins;margin-bottom: 1rem;"><img src="assets/images/checkmark.png"
                style="width: 20px;">&nbsp;&nbsp;&nbsp;<span>Verified Badge</span></p>
        
        </div>
                  <br/>
          <br/>
        </div>
        <br/><br/>  
        </div>
        
        </div>
        </div>
        <div class="col">
            <div style="width: 80%; margin: auto; margin-top: 20px">
                <button style="
          background: rgba(102, 49, 48, 1);
          width: 100%;
          border-radius: 10px;
          border: none;
          margin-bottom: 20px;
        ">
                    <img src="assets/images/apple-pay.png" style="width: 40px;"/>
                </button>
                <button style="
          background: rgba(102, 49, 48, 1);
          width: 100%;
          border-radius: 10px;
          border: none;
          margin-bottom: 20px;
        ">
                    <img src="assets/images/paypal.png" style="width: 40px" />
                </button>
                <button style="
          background: rgba(102, 49, 48, 1);
          width: 100%;
          border-radius: 10px;
          border: none;
          margin-bottom: 20px;
          color: white;
          font-size: 22px;
        ">
                    <img src="assets/images/gpay.png" style="width: 40px" />
                </button>

                <div class="separator" style="
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 19px;
          padding: 10px;
        ">
                    Or Pay With Card
                </div>
                <!-- form -->
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label labels">Email</label>
                        <input type="text" class="form-control" id="email" />
                    </div>
                    <div class="mb-3" style="position:relative">
                        <div style="position:absolute;right:5px;top:32px;height:100%;">
                            <img src="assets/images/maestro.png" style="height: 36%;" />
                            <img src="assets/images/visa.png" style="height: 36%;" />
                            <img src="assets/images/mastercard.png" style="height: 36%;" />
                        </div>
                        <label for="card_number" class="form-label labels">Card Information</label>
                        <input type="text" class="form-control" id="card_number" placeholder="1234 1234" />
                        <div class="row">
                            <div class="col" style="padding-right: 0px;">
                                <input type="text" class="form-control" placeholder="MM/YY">
                            </div>
                            <div class="col" style="padding-left: 0px;">
                                <input type="text" class="form-control" placeholder="CVC">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cardholder_name " class="form-label labels">Cardholder Name</label>
                        <input type="text" class="form-control" id="cardholder_name" placeholder="Full Name On Card" />
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label labels">Country Or Region</label>
                        <select id="inputState" class="form-select form-control">
                            <option selected>United States</option>
                                <option>...</option>
                        </select>
                        <input type="text" class="form-control" id="zip" placeholder="Zip" />
                    </div>

                    <button style="
            background: rgba(102, 49, 48, 1);
            width: 100%;
            border-radius: 10px;
            border: none;
            padding: 5px;
            margin-bottom: 20px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: rgba(255, 255, 255, 1);
          ">
                        Pay
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>