<div style="overflow: hidden;">
    <div class="container-fluid top_bar">
        <div class="row top_bar_row">
          </div>
    </div>
    <div style="position: relative;">
        <img src="assets/images/brandbanner.png" style="width: 100%;">
        <div  style="position: absolute;
        top: 20px;
        left: 16px;">
          <div class="col-md-auto">
             <span style="font-family:Playfair Display;font-size: 25px;">LANCOME</span>
          </div>
          </div>
          <div style=" position: absolute;display: flex;
          top: 20px;
          right: 16px;">
          <div class="col-md-auto">
            <div class="nav-item">
              <a class="nav-link" style="color: black;">Home</a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item dropdown">
              <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item dropdown">
              <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item dropdown">
              <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item">
              <a class="nav-link" style="color: black;">Contact Us</a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item">
              <a class="nav-link" style="color: black;">Location</a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item">
              <a class="nav-link" style="color: black;">Help</a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item dropdown">
              <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LogIn/Register
              </a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="nav-item">
              <a class="nav-link" style="color: black;"><img src="assets/images/searchh.png"/></a>
            </div>
            
          </div>
        </div>
        <div style=" position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(30%, -50%);width: 30%;"><p style="font-family: Playfair Display;
    font-size: 30px;font-weight: bold;
    color: rgba(122,54,22,1);
    letter-spacing: 1px;">Beauty That Inspires Confidence</p>
    <p style="color: rgba(148,86,57,1);font-size: 15px;font-family: Poppins;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
    <div style="display: flex;justify-content: start;">  <button style="color:white;width: 200px;
        font-size: 18px !important;background-color:rgba(201,128,85,1) !important;padding: 10px;border: none;border-radius: 5px;" type="button" 
                        >Read More</button></div>
</div>
      </div>
      <br/>
      <div class="row" style="padding: 30px 70px;">
        <div class="col" style="display: flex;justify-content: center">
            <img src="assets/images/Component2.png">
        </div>
        <div class="col"  style="display: flex;justify-content: center">
            <img src="assets/images/Component3.png">
        </div>
        <div class="col"  style="display: flex;justify-content: center">
            <img src="assets/images/Component4.png">
        </div>
        <div class="col"  style="display: flex;justify-content: center">
            <img src="assets/images/Component5.png">
        </div>
        <div class="col"  style="display: flex;justify-content: center">
            <img src="assets/images/Component6.png">
        </div>
        <div class="col"  style="display: flex;justify-content: center">
            <img src="assets/images/Component7.png">
        </div>
      </div>
      <br/>
      <div class="container" style="width:100%;max-width:none;padding:0;position: relative;" >
            <img src="assets/images/Component1.png" style="width:100%;">
            <div style=" position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-115%, -50%);
           width: 40%;"><p style="font-family: Playfair Display;
        font-size: 30px;font-weight: bold;
        color: rgba(122,54,22,1);
        letter-spacing: 1px;">About Us</p>
        <p style="color: rgba(148,86,57,1);font-size: 15px;font-family: Poppins;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        <p style="color: rgba(148,86,57,1);font-size: 15px;font-family: Poppins;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        <p style="color: rgba(148,86,57,1);font-size: 15px;font-family: Poppins;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        <div style="display: flex;justify-content: start;">  <button style="color:black;width: 200px;
            font-size: 18px !important;background-color:rgba(243,231,225,1) !important;padding: 10px;border: none;border-radius: 5px;" type="button" 
                            >Read More</button></div>
    </div>
        </div>
        <br/>
        <div style="width: fit-content;margin: auto;">
            <h4 style=" font-family: 'Playfair Display';font-size: 30px;font-weight: bold;letter-spacing: 1px;color: rgba(122,54,22,1);">Our Product Categories<hr style="height: 2px;"/></h4>
        </div>
        <br/>
        <div class="row" style="padding: 10px 70px;gap: 30px;">
            <div class="col" style="padding: 0;position: relative;">
                <img src="assets/images/proimage1.png" style="width:100%;object-fit: cover;">
                <div style="position: absolute;
                top: 8px;
                left: 16px;">
               <p style="font-family: Playfair Display;
            font-size: 16px;font-weight: bold;padding:16px 20px 0px 20px;
            letter-spacing: 1px;">Skin Care
            </p>
               </div>
              </div>
            <div class="col"  style="padding: 0;position: relative;">
                <img src="assets/images/proimage2.png" style="width:100%;object-fit: cover;">
                <div style="position: absolute;
                top: 8px;
                left: 16px;">
               <p style="font-family: Playfair Display;
            font-size: 16px;font-weight: bold;padding:16px 20px 0px 20px;
            letter-spacing: 1px;">Body Care
            </p>
               </div>
              </div>
            <div class="col"  style="padding: 0;position: relative;">
                <img src="assets/images/proimage3.png" style="width:100%;object-fit: cover;">
                <div style="position: absolute;
                top: 8px;
                left: 16px;">
               <p style="font-family: Playfair Display;
            font-size: 16px;font-weight: bold;padding:16px 20px 0px 20px;
            letter-spacing: 1px;">Colour Cosmetics
            </p>
               </div>
              </div>
        </div>
        <div class="row" style="padding:20px 285px;gap: 30px;">
          <div class="col" style="padding: 0;position: relative;">
              <img src="assets/images/proimage5.png" style="width:100%;object-fit: cover;">
              <div style="position: absolute;
              top: 25px;
              left: 16px;">
             <p style="font-family: Playfair Display;
          font-size: 16px;font-weight: bold;padding:16px 20px 0px 20px;
          letter-spacing: 1px;">Face Care
          </p>
             </div>
            </div>
          <div class="col"  style="padding: 0;position: relative;">
              <img src="assets/images/proimage4.png" style="width:100%;object-fit: cover;">
              <div style="position: absolute;
              top: 25px;
              left: 16px;">
             <p style="font-family: Playfair Display;
          font-size: 16px;font-weight: bold;padding:16px 20px 0px 20px;
          letter-spacing: 1px;">Eye Care
          </p>
             </div>
            </div>
            </div>
        <br/><br/>
        <div style="width: fit-content;margin: auto;">
          <h4 style=" font-family: 'Playfair Display';font-size: 30px;font-weight: bold;letter-spacing: 1px;color: rgba(122,54,22,1);">Our Markets<hr style="height: 2px;"/></h4>
      </div>
      <br/>
      <div class="row" style="padding: 10px 70px;">
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/usa.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">USA</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/india.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">India</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/japan.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">Japan</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/uk.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">UK</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/canada.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">Canada</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/europe.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">Europe</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/korea.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">S.Korea</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/germany.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">Germany</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/quatar.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">Qatar</p>
        </div>
        <div class="col" style="display: grid;justify-content: center;place-items:center">
            <img src="assets/images/china.png">
            <p style="font-family: poppins;font-size: 18px;text-align: center;padding: 20px;">China</p>
        </div>
        </div>
        <br/><br/>
        <div class="container" style="width:100%;max-width:none;padding:0;position: relative;" >
          <img src="assets/images/index.png" style="width:100%;">
          <div style=" position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(60%, -50%);
         width: 25%;"><p style="font-family: Playfair Display;
      font-size: 30px;font-weight: bold;
      color: rgba(122,54,22,1);
      letter-spacing: 1px;">Beauty That Inspires
Confidence</p>
<br/>
      <p style="color: rgba(148,86,57,1);font-size: 15px;font-family: Poppins;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
       <br/>
       <div style="display: flex;justify-content: start;">  <button style="color:white;width: 200px;
          font-size: 18px !important;background-color:rgba(201,128,85,1) !important;padding: 10px;border: none;border-radius: 5px;" type="button" 
                          >Contact Us</button></div>
  </div>
      </div>
      <br/><br/>
      <div style="width: fit-content;margin: auto;">
        <h4 style=" font-family: 'Playfair Display';font-size: 30px;font-weight: bold;letter-spacing: 1px;color: rgba(122,54,22,1);">Watch Our Videos<hr style="height: 2px;"/></h4>
    </div>
    <br/>
    <div class="container" style="width:100%;max-width:none;padding:0;position: relative;" >
      <img src="assets/images/branimg.png" style="width:100%;">
      <div style=" position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);">
            <video width="800" height="900" src="assets/images/skincarevdeo.mp4" type="video/mp4" autoplay loop muted></video>
</div>
  </div>
  <br/><br/>
  <div class = "footer container-fluid">    
    <br/>
    <div class="row rowfooter">
        <div class="col-4 columns">
          <div class="heading"> <span style="font-family:Playfair Display;font-size: 25px;">LANCOME</span></div>
          <p style="font-family: Montserrat;font-size: 12px;">Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper maecenas enim, fermentum.
          </p>
          <div class="row">
            <div class="col-lg-1">
              <img style="width: 15px;" src="assets/images/whatsapp.png">
            </div>
            <div class="col-lg-1">
              <img style="width: 15px;" src="assets/images/fb.png">
            </div>
            <div class="col-lg-1">
              <img style="width: 15px;" src="assets/images/linkedin.png">
            </div>
            <div class="col-lg-1">
              <img style="width: 15px;" src="assets/images/instag.png">
            </div>
            <div class="col-lg-1">
              <img style="width: 12px;" src="assets/images/twitter.png">
            </div>
          </div>
            <ul style="display: flex;padding: 0;">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policies</a></li>
            </ul>
        </div>

        <div class="col-3 columns">
            <ul>
              <li></li>
                <li><a><img style="width: 15px;position: relative;top: -1px;" src="assets/images/pin.png">&nbsp;&nbsp;154 Av the good, New York</a></li>
                <li><a><img style="width: 15px;position: relative;top: -1px;" src="assets/images/email.png">&nbsp;&nbsp; www.lancome.com</a></li>
                <li><a><img style="width: 15px;" src="assets/images/phone.png">&nbsp;&nbsp;+124 548 698 254</a></li>
              </ul>
        </div>
        <div class="col-3 columns">
           <!-- <img src="assets/images/footerimg.png" style="width: 530px;
           position: absolute;
           left: -45px;
           top: -20px"> -->
        </div>
      </div> 
</div>
    </div>