<div
style="
  background-color: rgba(102, 49, 48, 1);
  height: 8px;
  margin-bottom: 20px;
"
></div>
<!-- logo -->

<div class="logo" style="text-align: center">
<img src="assets/images/logo.png" />
</div>
<!-- grey line -->
<div
style="
  border-bottom: 2px solid rgba(112, 112, 112, 0.3);
  padding-top: 20px;
  width: 90%;
  margin: auto;
"
></div>
<!-- image banner -->
<div style="width: 92%;margin: auto;padding-top: 20px;">
  <img src="assets/images/banner.png" style="width: 100%;"/>
</div>
<div style="text-align: center;    
font-family: Gloucester MT;
font-style: normal;
font-weight: normal;
font-size: 32px;
color: rgba(0,0,0,1);
letter-spacing: 0.2px;
padding-top: 20px;">
  <p>Welcome To Our Community</p>
</div>
<!-- grey line -->
<div
style="
  border-bottom: 2px solid rgba(112, 112, 112, 0.3);

  width: 90%;
  margin: auto;
"
></div>

<!-- FORM -->
<div style="width: 90%;margin: auto;" class="mt-4">
  <form>
      <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control rounded-0" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control rounded-0" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
        <input type="text" class="form-control rounded-0 mb-3" placeholder="Email ID">
        <input type="text" class="form-control rounded-0 mb-3" placeholder="Subject">
        <textarea  type="text" class="form-control rounded-0 mb-3" placeholder="Message" style="height: 100px"></textarea>
        <div style="text-align: center;" class="my-4">
        <button
          style="
            background: rgba(102, 49, 48, 1);
            width: 20%;
            border-radius: 50px;
            border: none;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            color: rgba(255, 255, 255, 1);
            padding: 10px;
            
          "
        >
          Submit
        </button></div>
  </form>
</div>
<div style="text-align: center;font-size: small;">
  <img src="assets/images/instagram.png"  style="margin-right: 15px;"/>
  <img src="assets/images/twitterc.png" style="margin-right: 15px;"/>
  <img src="assets/images/linkedinc.png" style="margin-right: 15px;"/>
  <img src="assets/images/chat_bubble.png" style="margin-right: 15px;"/>
  <img src="assets/images/facebook.png" />
  <p style="margin-top: 20px;margin-bottom: 0px;">If you have any quetions please contact us support@mail.com.</p>
  <p ><a href="#" style="color: black;text-decoration: underline;">Unsubscribe</a> from our mailing lists</p>
</div>