<div style="overflow: hidden;">
  <div class="container-fluid top_bar">
    <div class="row top_bar_row">
      <div class="col-sm" id="JoinPhytoCommunity">
        Join The Community
      </div>
      <!-- <div class="col-sm" id="VisitPhytoCommunity">
        VisitPhytoCommunity
      </div> -->
    </div>

  </div>
  <!--nav bar-->
  <div class="container-fluid naviBar">
    <div class="row justify-content-around">
      <div class="col-md-auto" style="padding: 0;">
        <a class="nav-item nav-link" style="color: black;">
          <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
          <img src="assets/images/hamberger.png" />
        </a>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;" [routerLink]="['/']" >Home</a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a [routerLink]="['/events']"  class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: black;">Action</a>
              <a class="dropdown-item" style="color: black;">Another action</a>
              <a class="dropdown-item" style="color: black;">Something else here</a>
            </div> -->
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a [routerLink]="['/manufacturer']"  class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Manufacturers
            <!-- <img src="/images/Component2_1.png"> -->
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: black;">Action</a>
              <a class="dropdown-item" style="color: black;">Another action</a>
              <a class="dropdown-item" style="color: black;">Something else here</a>
            </div> -->
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a [routerLink]="['/colorcosmetics']" class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
        </div>
      </div>
      <div class="col-lg-2" style="padding: 0;">
        <img src="assets/images/logo2.png" class="logo" />
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a [routerLink]="['/contactus']" class="nav-link" style="color: black;">Contact Us</a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a [routerLink]="['/joblisting']" class="nav-link" style="color: black;">Jobs</a>
        </div>
      </div>
      <!-- <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;">Help</a>
        </div>
      </div> -->
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
           <span style="font-weight: normal;cursor: pointer;" [routerLink]="['/login']">LogIn</span> / <span [routerLink]="['/signup']" style="font-weight: normal;cursor: pointer;">Register</span>
          </a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;"><img src="assets/images/searchh.png" /></a>
        </div>

      </div>
    </div>
  </div>
  
    <!-- BOCP -->
    <!-- <div class="bocp">
      <p style="font-size: xx-large !important;font-family: Playfair Display !important;"><span>B</span>usiness
        <span>O</span>f <span>C</span>onsumer <span>P</span>roducts</p>
    </div> -->
    <div class="main_body">
        <div class="main_body_content">
        <h1>Bring Your Natural Beauty</h1>
        <p>Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis enim mauris vitae ullamcorper maecenas enim, fermentum.</p>
        <button class="view_more">View More</button>
    </div>
    </div>
    <!--Product categories-->
    <br>
    <div class="container-fluid product_categories">
        <div class="row">
            <div class="col-7">
                <h1>Product Categories</h1>
                <br>
                <div class="row">
                <div class="col" ><img src="assets/images/probannerimg.png" style="width: 95%;"/>
                </div>
            </div>
            </div>
            <div class="col-5"><br><img src="assets/images/content-image6a.png" style="width: 100%;"/></div>
        </div>
        <br>
    </div>
    <!--search bar-->
    <div class="search_bar">
        <ul>
            <li><img src="assets/images/location1.png" class="location_img"/>Location</li>
            <li class="search_input"><input /><img src="assets/images/searchh.png" class="search_input_icon"/></li>
            <li>All</li>
            <li>United States</li>
            <li>Los Angeles</li>
            <li>United Kingdom</li>
            <li>China</li>
            <li>Europe</li>
            <li>Japan</li>
            <li>South Korea</li>
            <li>India</li>
        </ul>
    </div>
    <!--Listing-->
    <div class="container-fluid listing">
        <div class="row">
            <div class="col-2">
                <div class="category_card">
                    <p class="category_heading">Eyes</p>
                    <ul>
                        <li>Brow Primers</li>
                        <li>Eyelash Primers</li>
                        <li>Lash Serums</li>
                        <li>Eye Shadows</li>
                        <li>Mascara</li>
                        <li>Eye Liners</li>
                        <li>Palettes</li>
                        <li>Eye Creams</li>
                        <li>Eye Serums</li>
                    </ul>
                </div>
                <div class="category_card">
                    <p class="category_heading">Lips</p>
                    <ul>
                        <li>Lipsticks</li>
                        <li>Lip Glosses</li>
                        <li>Lip Treatments</li>
                        <li>Lip Balms</li>
                        <li>Lip Liners</li>
                        <li>Natural Liquid Lipsticks</li>
                    </ul>
                </div>
                <div class="category_card">
                    <p class="category_heading">Types Of Company</p>
                    <ul>
                        <li>Manufacturers</li>
                        <li>Brands</li>
                        <li>Packaging Suppliers</li>
                        <li>Component Suppliers</li>
                        <li>Ingredient Suppliers</li>
                        <li>Distributors</li>
                        <li>Retailers</li>
                        <li>Exporters</li>
                    </ul>
                </div>
                <div class="category_card">
                    <p class="category_heading">Types Of Formula</p>
                    <ul>
                        <li>Natural</li>
                        <li>Organic</li>
                        <li>Synthetic</li>
                        <li>Eye Shadows</li>
                        <li>Custom</li>
                        <li>Mineral</li>
                    </ul>
                </div>
                <div class="category_card">
                    <p class="category_heading">Order Quantity</p>
                    <ul>
                        <li>&lt;2000</li>
                        <li>2000 - 5000</li>
                        <li>5000 - 10,000</li>
                        <li>10,000 - 20,000</li>
                        <li>20,000 - 50,000</li>
                        <li>50,000 - 100,000</li>
                        <li>&gt;100,000</li>
                    </ul>
                </div>
            </div>
            <div class="col-10" style="padding: 0px 50px;">
                <div class="row">
                <div class="listing_card">
                    <ul>
                        <li>
                            <div>
                                <p class="listing_heading">Accupac Manufacturer</p>
                                <div class="company_details">
                                    
                                    <ul>
                                      <li><img src="assets/images/Mask_Group_222.png" /></li>
                                        <li><p>Location: Canada</p>
                                          <p>MOQ: 2000</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <p style="font-size: small;">Product Type: Synthetic</p>
                            </div>
                        </li>
                        <li><div class="vl"></div></li>
                        <li class="border_left">
                          <p class="listing_heading">Our Products</p>
                          <ul>
                            <li>Bodycare</li>
                            <li>Nutraceuticals</li>
                            <li>Petcare</li>
                            <li>Cannabis</li>
                          </ul>
                        </li>
                        <li><div class="vl"></div></li>
                        
                        <li class="border_left">
                          <p class="listing_heading">Our Services</p>
                          <ul>
                            <li>Beauty Products Manufacturing</li>
                            <li>Bottling & Bulk Filling</li>
                          </ul>
                        </li>
                        <li><div class="vl"></div></li>
                        <li class="border_left"><p class="listing_heading">Certifications</p>
                        <p style="font-size: small;">ISO, FDA, Health Canada</p>
                        </li>
                        <li class="border_left"><button class="view_supplier">View Supplier</button></li>
                    </ul>
                    <p style="font-family: Poppins;font-size: 14px;padding:0px 20px;line-height: normal;">We believe in building to positively impact communities, infrastructure, the economy, opportunity and employment. We take great pride in being proactive with our approach to projects, while ensuring that the best interests of the stakeholders are represented at every stage.</p>
                </div>
                <div class="listing_card">
                    <ul>
                        <li>
                            <div>
                                <p class="listing_heading">Accupac Manufacturer</p>
                                <div class="company_details">
                                    
                                    <ul>
                                      <li><img src="assets/images/Mask_Group_222.png" /></li>
                                        <li><p>Location: Canada</p>
                                          <p>MOQ: 2000</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <p style="font-size: small;">Product Type: Synthetic</p>
                            </div>
                        </li>
                        <li><div class="vl"></div></li>
                        <li class="border_left">
                          <p class="listing_heading">Our Products</p>
                          <ul>
                            <li>Bodycare</li>
                            <li>Nutraceuticals</li>
                            <li>Petcare</li>
                            <li>Cannabis</li>
                          </ul>
                        </li>
                        <li><div class="vl"></div></li>
                        
                        <li class="border_left">
                          <p class="listing_heading">Our Services</p>
                          <ul>
                            <li>Beauty Products Manufacturing</li>
                            <li>Bottling & Bulk Filling</li>
                          </ul>
                        </li>
                        <li><div class="vl"></div></li>
                        <li class="border_left"><p class="listing_heading">Certifications</p>
                        <p style="font-size: small;">ISO, FDA, Health Canada</p>
                        </li>
                        <li class="border_left"><button class="view_supplier">View Supplier</button></li>
                    </ul>
                    <p style="font-family: Poppins;font-size: 14px;padding:0px 20px;line-height: normal;">We believe in building to positively impact communities, infrastructure, the economy, opportunity and employment. We take great pride in being proactive with our approach to projects, while ensuring that the best interests of the stakeholders are represented at every stage.</p>
                </div>
</div>
                
                
                <div class="container subscribe" >
                  <img src="assets/images/img7_da118bd1-8889-403f-b6ca-c.png" style="width:100%;">
                  <div class="blurredbody">
                    <p class="blurredbody_heading">Subscribe Our Plans</p>
                    <br />
                    <p class="blurredbody_content">Becoming a member is also a way to support the effort that goes
                      into researching and creating thousands of articles, publishing our weekly newsletter.</p>
                    <br />
                     <div style="display: flex;justify-content: center;"> <button class="view_plans">View Plans</button>
                     
                  </div>
                  </div>
                </div>
                <br>
                <div class="container limited" >
                  <img src="assets/images/shutterstock_454779484.png" style="width:100%;">
                  <div class="blurredbody2">
                    <p class="smudge">Smudge Me Not</p>
                    <p class="blurredbody_heading2">Limited Edition Lipsticks</p>
                    <br />
                    <p class="blurredbody_content2">When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.</p>
                    <br />
                     <div style="display: flex;justify-content: center;"> <button class="view_plans">View More</button>
                     
                  </div>
                  </div>
                </div>
                
                
                <br>
                
            </div>
        </div>
    </div>
    <!--red div-->
    <div class="container-fluid red_div">
      <div class="row">
        <div class="col-6 red-outer-div">
          <div class="red-image-container">
            <img src="assets/images/img18.png" class="red-img"/>
            <div class="red-overlay"></div>
            <div class="white-border"></div>
          </div>
            
        </div>
        <div class="col-6 grey-outer-div">
          <div class="grey-body">
            <p class="smudge2">Smudge Me Not</p>
                    <p class="grey_body_heading2">Limited Edition Lipsticks</p>
                    <br />
                    <p class="grey_body_content2">When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip
                      When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip
                      When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.</p>
                    <br />
                     <div style="display: flex;justify-content: center;"> <button class="view_plans">View More</button>
                     
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!--Gloss Pop Face-->
    <div class="container gloss-div" >
      <img src="assets/images/Mask_Group_130.png" style="width:100%;">
      <img src="assets/images/cream.png" class="cream"/>
      <div class="blurredbody4">
        <p class="smudge4">So Fresh...So Good</p>
        <p class="blurredbody_heading4">Gloss Pop Face & Eye Pop</p>
        <br />
        <p class="blurredbody_content4">When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.</p>
        <br />
        <p class="blurredbody_small_content4">When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.
          When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.
          When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.When looking for a new bouquet idea for valentines or mothers' day, ask us for a tip.
        </p>

        <br/>
         <div style="display: flex;justify-content: center;"> <button class="view_plans">Explore</button>
         
      </div>
      </div>
    </div>
    <br>
    <br>
    <!--Tell us what you need-->
    <div class="container-fluid">
      <div class="row">
        <div class="col tellus-outer-div">
          <div class="tellus-image-container">
            <img src="assets/images/makeup-services-img.png" class="tellus-img"/>
          </div>
            
        </div>
        <div class="col tellus-form-div">
          <h2>Tell Us What You Need</h2>
          <form class="tellus-form">
            <input type="text" placeholder="Enter Product / Service Name"/>
            <input type="text" placeholder="Enter Your Number"/>
            <!-- <div>Your Country is <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USA<img src="assets/images/Component2_1.png" class="dropdown-img smaller-drop"/></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div></div> -->
              <input type="text" placeholder="Enter Your Name" />
              <button class="submit-requirement">Submit</button>
          </form>
        </div>
        <div class="col">
          <img src="assets/images/shutterstock_574053496.png" class="blush"/>
        </div>
      </div>
    </div>
    
    <!--Subscribe Our Newsletter-->
    <div class="container subscribe-newsletter" >
      <img src="assets/images/home-2-video-button.png" style="width:100%;">
      <div class="blurredbody3">
        <p class="blurredbody_heading3">Subscribe Our Newsletter</p>
        <br />
        <p class="blurredbody_content3">Becoming a member is also a way to support the effort that goes
          </p>
        <br />
        <div class="newsletter-input-div">
          <input type="text" placeholder="Enter your email..." class="newsletter-input"/>
          <img src="assets/images/paper-plane.png" class="paper-plane"/>
        </div>
        
      </div>
    </div>
</div>
    <br />
    <div class="footer container-fluid">
      <div class="bocp-logo"><img style="width: 10%;" src="assets/images/bcp.png"></div>
  
      <div class="row rowfooter">
        <div class="col-4 columns">
          <div class="heading"><span style="font-size: large;">For The Consumer Goods Industry</span></div>
          <p style="line-height: 19px !important;">Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
          </p>
          <p>Copyright <img src="assets/images/icons8-copyright-24.png" class="copyright-img" /> 2022. bocp All Rights
            Reserved.</p>
        </div>
        <div class="col-2 columns">
          <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/aboutus']">About Us</a></li>
            <li><a [routerLink]="['/contactus']">Contact Us</a></li>
            <li><a [routerLink]="['/']">Terms & Conditions</a></li>
            <li><a [routerLink]="['/']">Privacy Policies</a></li>
          </ul>
        </div>
        <div class="col-3 columns">
          <ul>
            <li><a [routerLink]="['/manufacturer']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Manufacturer<img src="assets/images/icons8-dropdown-24.png"
                  class="dropdown-img" /></a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
              </div> -->
            </li>
            <li><a [routerLink]="['/brandlisting']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Brands<img src="assets/images/icons8-dropdown-24.png" class="dropdown-img" /></a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
              </div> -->
            </li>
            <li><a [routerLink]="['/login']">Manufacturer LogIn/Register</a></li>
            <li><a [routerLink]="['/signup']">Brand LogIn/Register</a></li>
            <!-- <li><a [routerLink]="['/eventsuccess']">Help</a></li> -->
          </ul>
        </div>
        <div class="col-3 columns">
          <div class="heading" style="padding: 38px;">Connect With Us</div>
          <ul class="icons">
            <li><a><img src="assets/images/icons8-instagram-26.png" class="icon-img" /></a></li>
            <li><a><img src="assets/images/icons8-facebook-32.png" class="icon-img" /></a></li>
            <li><a><img src="assets/images/twitterwhite.png" class="icon-img" /></a></li>
          </ul>
        </div>
      </div>
      <br /><br />
    </div>
</div>