<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
</head>
<body style="background: lightblue;color: green;">
  <p>Thank you for registering on our website, <%= username %>! We appreciate your participation.</p>
</body>
</html> -->
<div style="min-height: 30px; background-color: rgba(102, 49, 48, 1)"></div>
<img src="assets/images/logo2.png" style="display: flex; margin: auto" />
<img src="assets/images/email_1.png" style="width: 90%; margin: 0px 5%" /><br />
<h1 style="text-align: center">Welcome To Our Community!</h1>
<div style="border-bottom: 2px solid grey; width: 90%; margin: 0px 5%"></div>
<div style="
        margin-left: 15%;
        line-height: 30px;
        /* color: grey; */
        font-style: italic;
        font-size: x-large;
        margin-right: 80px;
      ">
  <p style="font-size: xx-large">Hi <%= username %>!,</p>
  <!-- <br /> -->
  <p style="color: rgba(102, 49, 48, 1)">
    Welcome to the FMCG Supply Chain.
  </p>
  <!-- <br /> -->
  <p style="opacity: 0.5">
    We are thrilled to welcome you to the FMCG Supply Chain, the premium
    platform<br> connecting manufactureres with opportunities for growth,
    collaboration and success.
  </p>

  <p>
    Thank you for signing up with us and choosing to be a part of our
    vibrant community.
  </p>
  <!-- <br /> -->
  <p style="opacity: 0.5">
    Along with the ability to create and manage your profile, here’s what
    you can expect FMCG supply chain community.
  </p>
  <!-- <br /> -->
  <p>
    Marketplace access:
    <span style="opacity: 0.5">Gain visibility and connect with potential customers, place, and
      partners in our extensive manufacturing market place.</span>
  </p>
  <p>
    Resource hub:
    <span style="opacity: 0.5">Access a wealth of resources, including industry reports, best
      practises, and expert advice to help your business thrive.</span>
  </p>
  <p>
    Networking opportunities:
    <span style="opacity: 0.5">
      Join our events, webinars, and forums to connect with industry
      leaders, share experiences, and foster collaborations.</span>
  </p>
  <p>
    Higher best talent:
    <span style="opacity: 0.5">
      Ability to hire the best talent specific to your industry.</span>
  </p>
  <p>
    Personalised updates:
    <span style="opacity: 0.5">
      Receive tailored news, trends and opportunities in the manufacturing
      sector directly in your inbox.</span>
  </p>
  <p>
    Lead generation:
    <span style="opacity: 0.5">
      Get access to brands and key decision-makers.<br>We are
      committed to helping you achieve your manufacturing goals and look
      forward to being a part of your journey.<br> Welcome aboard, Martin! Your
      presence enriches our network and we’re excited about the
      opportunities ahead.</span>
  </p>
  <!-- <br> -->
  <p style="font-size: xx-large">Warm Regards,</p>
  <p style="font-style: normal;">FMCG Supply Chain</p>

  <br />
</div>
<ul style="
        display: flex;
        list-style: none;
        justify-content: center;
        padding-left: 0px;
      ">
  <li style="margin: 20px; opacity: 0.5">
    <img style="height: 40px; width: 40px" src="assets/images/instagram.png" />
  </li>
  <li style="margin: 20px; opacity: 0.5">
    <img style="height: 40px; width: 40px" src="assets/images/twitter.png" />
  </li>
  <li style="margin: 20px; opacity: 0.5">
    <img style="height: 40px; width: 40px" src="assets/images/linkedin_3669739.png" />
  </li>
  <li style="margin: 20px; opacity: 0.5">
    <img style="height: 40px; width: 40px" src="assets/images/chat-bubble_3735272.png" />
  </li>
  <li style="margin: 20px; opacity: 0.5">
    <img style="height: 40px; width: 40px" src="assets/images/facebook.png" />
  </li>
</ul>
<p style="opacity: 0.5; text-align: center">
  If you have any questio please contact us at support@gmail.com
</p>
<p style="opacity: 0.5; text-align: center">
  <span style="text-decoration: underline">Unsubscribe</span> from our
  mailing lists.
</p>