<div style="overflow: hidden;">
  <div class="container-fluid top_bar">
    <div class="row top_bar_row">
      <div class="col-sm" id="JoinPhytoCommunity">
        Join The Community
      </div>
      <!-- <div class="col-sm" id="VisitPhytoCommunity">
        VisitPhytoCommunity
      </div> -->
    </div>

  </div>
  <!--nav bar-->
  <div class="container-fluid naviBar">
    <div class="row justify-content-around">
      <div class="col-md-auto" style="padding: 0;">
        <a class="nav-item nav-link" style="color: black;">
          <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
          <img src="assets/images/hamberger.png" />
        </a>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;" [routerLink]="['/']" >Home</a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a [routerLink]="['/events']"  class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: black;">Action</a>
              <a class="dropdown-item" style="color: black;">Another action</a>
              <a class="dropdown-item" style="color: black;">Something else here</a>
            </div> -->
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a [routerLink]="['/manufacturer']"  class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Manufacturers
            <!-- <img src="/images/Component2_1.png"> -->
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: black;">Action</a>
              <a class="dropdown-item" style="color: black;">Another action</a>
              <a class="dropdown-item" style="color: black;">Something else here</a>
            </div> -->
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a [routerLink]="['/colorcosmetics']" class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
        </div>
      </div>
      <div class="col-lg-2" style="padding: 0;">
        <img src="assets/images/logo2.png" class="logo" />
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a [routerLink]="['/contactus']" class="nav-link" style="color: black;">Contact Us</a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a [routerLink]="['/joblisting']" class="nav-link" style="color: black;">Jobs</a>
        </div>
      </div>
      <!-- <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;">Help</a>
        </div>
      </div> -->
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item dropdown">
          <a class="nav-link " style="color: black;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
           <span style="font-weight: normal;cursor: pointer;" [routerLink]="['/login']">LogIn</span> / <span [routerLink]="['/signup']" style="font-weight: normal;cursor: pointer;">Register</span>
          </a>
        </div>
      </div>
      <div class="col-md-auto" style="padding: 0;">
        <div class="nav-item">
          <a class="nav-link" style="color: black;"><img src="assets/images/searchh.png" /></a>
        </div>

      </div>
    </div>
  </div>
  
  <!-- BOCP -->
  <!-- <div class="bocp" style="border-bottom: 1px dashed;">
    <p><span>B</span>usiness <span>O</span>f <span>C</span>onsumer <span>P</span>roducts</p>
  </div> -->
  <div class="row maincontainer">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <div class="card"  style="height: 35vw;border-radius: 20px;background-color: rgba(255,239,232,1);border: none;">
                    <div class="card-body">
                        </div>
                  </div>
            </div>
            <div class="col-lg-8">
                <h5 style="font-size: 30px;font-family: Playfair display;font-weight: 600;letter-spacing: 1.5px;position: absolute;top: 8%;"><span style="color: rgba(102,49,48,1);">&nbsp;&nbsp;Stand Out</span> With Phyto Ads</h5>
            <img style="width: 110%;
            position: absolute;
            left: -30%;
            top: 23%;" src="assets/images/adimg1.png">
            <div class="blurredtext">
                <h5 style="font-family: Poppins;font-size: 14px;color: rgba(129,58,44,1);" >Personal Care</h5>
                <p style="font-size: 10px;font-family: Poppins;">Massa nisi, integer convallis sed eu. Lacus, lorem bibendum</p>
                <div>
                    <button style="color:white;width: 40%;
        font-size: 15px !important;background-color:#663130 !important;border-radius: 20px;border: none;" type="button" 
                        >Explore</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div style="padding: 70px 0;
        position: absolute;
        top: 24%;left: -10%;">
       <p style="font-size: 18px;font-family: Poppins;">
        Phyto Ads make it easy for potential clients to find your company.
       </p>
       <button style="color:white;width: 40%;padding: 10px;
       font-size: 20px !important;background-color:#663130 !important;border-radius: 5px;border: none;" type="button" 
                       >Start Now</button>
                       </div>
    </div>
    </div>
    <div class="maincontainer1">
    <h5 style="font-size: 30px;font-family: Playfair display;font-weight: 600;letter-spacing: 1.5px;">Ads Give You Many Ways To Be Seen On The Website</h5>
    <br/><br/>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="display: flex;justify-content: center;">
        <div class="col">
            <div class="card" style="padding: 20px;
            background: rgba(255,239,232,1);
            border: none;
            border-radius: 15px;
            display: grid;align-items: center;">
                <div class="card-body">
                    <p style="font-size: 20px;letter-spacing:1.2px;font-family: Playfair Display;
                    margin-top: 0.5rem;font-weight: 600;margin-bottom: 2rem;
                    ">Display Ads</p>
                    <p style="margin-bottom: 2rem;"><img src="assets/images/adimg2.png" style="width: 90px;"></p>
                    <p style="font-size: 12px;font-family: Poppins;height: 7vw;">Increase exposure and consideration by using memorable, visually appealing advertising that reaches your target audience when they are exploring the website.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="padding: 20px;
            background: rgba(255,239,232,1);
            border: none;
            border-radius: 15px;
            display: grid;align-items: center;">
                <div class="card-body">
                    <p style="font-size: 20px;letter-spacing:1.2px;font-family: Playfair Display;
                    margin-top: 0.5rem;font-weight: 600;margin-bottom: 2rem;
                    ">Sponsored Listing Ads</p>
                    <p style="margin-bottom: 2rem;"><img src="assets/images/adimg4.png" style="width: 90px;"></p>
                    <p style="font-size: 12px;font-family: Poppins;height: 7vw;">Get the contact information of users when they submit it through a lead ad</p>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="padding: 20px;
            background: rgba(255,239,232,1);
            border: none;
            border-radius: 15px;
            display: grid;align-items: center;">
                <div class="card-body">
                    <p style="font-size: 20px;letter-spacing:1.2px;font-family: Playfair Display;
                    margin-top: 0.5rem;font-weight: 600;margin-bottom: 2rem;
                    ">Lead Generation Ads</p>
                    <p style="margin-bottom: 2rem;"><img src="assets/images/adimg5.png" style="width: 90px;"></p>
                    <p style="font-size: 12px;font-family: Poppins;height: 7vw;">Get listed with premium companies.Get more value from each conversation.Get listed as a top service provider.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="padding: 20px;
            background: rgba(255,239,232,1);
            border: none;
            border-radius: 15px;
            display: grid;align-items: center;">
                <div class="card-body">
                    <p style="font-size: 20px;letter-spacing:1.2px;font-family: Playfair Display;
                    margin-top: 0.5rem;font-weight: 600;margin-bottom: 2rem;
                    ">Headline Search Ads</p>
                    <p style="margin-bottom: 2rem;"><img src="assets/images/adimg3.png" style="width: 90px;"></p>
                    <p style="font-size: 12px;font-family: Poppins;height: 7vw;">Get listed on top of search resultswhen a relevant search query is initiated</p>
                </div>
            </div>
        </div>
        </div>
        <br/><br/>
        <h5 style="font-size: 30px;font-family: Playfair display;font-weight: 600;letter-spacing: 1.5px;margin-bottom: 1.5rem;">Achieve All Your Sales & Marketing Goals In One Place</h5>
    <p style="font-size: 18px;font-family: Poppins;">Grow Your Business, Get Leads & Opportunities</p>
    <br/><br/>
    <div class="row">
        <div class="col-lg-4" style="padding: 0px 50px;">
            <br/>
            <div>
          <p style="font-family: Poppins;font-size: 18px;">More leads and conversions</p>
          <p style="font-family: Poppins;font-size: 15px;color: rgba(150,47,8,1);">Get better quality leads and
            enhance conversions.</p>
            <br/>
            <p style="font-family: Poppins;font-size: 18px;">Connect. Communicate.</p>
            <p style="font-family: Poppins;font-size: 15px;color: rgba(150,47,8,1);">Connect with people across the world & generate business.</p>
        <br/>
        <p style="font-family: Poppins;font-size: 18px;">Drive more traffic to your profile</p>
        <p style="font-family: Poppins;font-size: 15px;color: rgba(150,47,8,1);">Bring people through your doors and increase offline sales.</p>
          <br/>
          <p style="font-family: Poppins;font-size: 18px;">Show your capability to more brands</p>
        <p style="font-family: Poppins;font-size: 15px;color: rgba(150,47,8,1);">Get your name out there to increase reach and engagement.</p>
        </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4">
                   <img style="width: 100%;" src="assets/images/adimg6.png">
                   <div class="imgbottom">
                    <h5 style="font-family: Poppins;font-size: 14px;color: rgba(129,58,44,1);" >Personal Care</h5>
                    <p style="font-size: 10px;font-family: Poppins;">Massa nisi, integer convallis sed eu. Lacus, lorem bibendum</p>
                    <div>
                        <button style="color:white;width: 40%;
            font-size: 15px !important;background-color:#663130 !important;border-radius: 20px;border: none;" type="button" 
                            >Explore</button>
                    </div>
                </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <div style="width: 50%;
                      position: absolute;
                      top: -18%;"><img style="width: 100%;" src="assets/images/adimg12.png">
                      <p style="font-family: Rancho;
                      font-size: 25px;
                      color: rgba(129,58,44,1);
                      padding: 0px 30px;
                      position: absolute;
                      top: 90%;
                      letter-spacing: 1px;white-space: nowrap;">Pure & Perfect Cosmetics</p>
                      <div style="font-family: Poppins;
                      font-size: 12px;
                      padding: 0px 30px;
                      position: absolute;
                      top: 115%"><p>Massa nisi, integer convallis sed eu. Lacus, lorem bibendum</p>
                       <button style="color:white;width: 40%;margin-top: 15px;
                       font-size: 15px !important;background-color:#663130 !important;border-radius: 20px;border: none;" type="button" 
                                       >Explore</button>
                      </div>
                      
                      </div>
                      <img style="width: 33%;
                      position: absolute;
                      left: 40%;
                      top: 14%;" src="assets/images/adumg13.png">
                      <img style="width: 100%;" src="assets/images/adimg8.png"><img style="width: 30%;
                        position: absolute;
                        top: 22%;
                        left: 68%;" src="assets/images/adimg9.png">
                    </div>
                    <br/>
                    <div style="position: absolute;top: 60%;left: 10%;">
                      
                      <div style="font-family: Poppins;
                      font-size: 12px;width: 70%;text-align: center;">
                      <p><img style="width: 20%;" src="assets/images/adimg11.png"></p>
                      <p style="font-family: Rancho;
                      font-size: 25px;
                      color: rgba(129,58,44,1);
                      letter-spacing: 1px;white-space: nowrap;">Large Selling Nature Food</p>
                      <p style="font-size: 10px !important;margin-bottom: 0rem;">Massa nisi, integer convallis sed eu. Lacus, lorem bibendum</p>
                       <button style="color:white;width: 40%;margin-top: 15px;
                       font-size: 15px !important;background-color:#663130 !important;border-radius: 20px;border: none;" type="button" 
                                       >Explore</button>
                      </div>
                    </div>
                    <img style="width: 100%;" src="assets/images/adimg7.png">
                </div>
            </div>
        </div>
        </div>
        <br/><br/> <br/><br/>
    </div>
    <div style="position: relative;">
        <img style="width: 100%;" src="assets/images/adimg10.png">
        <div style=" position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-120%, -70%);">
        <div class="blurredtextbottom">
            <h5 style="font-size: 25px;font-family: 'Playfair Display';margin-bottom: 1.5rem;">Connect With an Expert</h5>
                <p style="font-size: 13px;font-family: poppins;margin-bottom: 1.5rem;">Discuss with our an expert & choose a suitable ad plan for you.</p>
                <button style="color:black;padding: 10px;width: 90%;
                font-size: 20px !important;background-color: white !important;border-radius: 10px;border: none;" type="button" 
                                ><b>Connect with Expert</b></button>
        </div>
        </div>
        <div style=" position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(20%, -30%);">
        <div class="blurredtextbottom">
            <h5 style="font-size: 25px;font-family: 'Playfair Display';margin-bottom: 1.5rem;">Let us help</h5>
                <p style="font-size: 13px;font-family: poppins;margin-bottom: 1.5rem;">Get started with your first ad.</p>
                <button style="color:black;padding: 10px;width: 90%;
                font-size: 20px !important;background-color: white !important;border-radius: 10px;border: none;" type="button" 
                                ><b>View Ad Plans</b></button>
        </div>
        </div>
    </div>
    <br/>
    <div class="footer container-fluid">
      <div class="bocp-logo"><img style="width: 10%;" src="assets/images/bcp.png"></div>
  
      <div class="row rowfooter">
        <div class="col-4 columns">
          <div class="heading"><span style="font-size: large;">For The Consumer Goods Industry</span></div>
          <p style="line-height: 19px !important;">Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
            Massa nisi, integer convalis sed eu. Lacus, lorem bibendum in congue justo nisi, fames at ultrices. Mattis
            enim mauris vitae ullamcorper maecenas enim, fermentum.
          </p>
          <p>Copyright <img src="assets/images/icons8-copyright-24.png" class="copyright-img" /> 2022. bocp All Rights
            Reserved.</p>
        </div>
        <div class="col-2 columns">
          <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/aboutus']">About Us</a></li>
            <li><a [routerLink]="['/contactus']">Contact Us</a></li>
            <li><a [routerLink]="['/']">Terms & Conditions</a></li>
            <li><a [routerLink]="['/']">Privacy Policies</a></li>
          </ul>
        </div>
        <div class="col-3 columns">
          <ul>
            <li><a [routerLink]="['/manufacturer']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Manufacturer<img src="assets/images/icons8-dropdown-24.png"
                  class="dropdown-img" /></a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
              </div> -->
            </li>
            <li><a [routerLink]="['/brandlisting']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Brands<img src="assets/images/icons8-dropdown-24.png" class="dropdown-img" /></a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Another action</a>
                <a class="dropdown-item" [routerLink]="['/eventsuccess']">Something else here</a>
              </div> -->
            </li>
            <li><a [routerLink]="['/login']">Manufacturer LogIn/Register</a></li>
            <li><a [routerLink]="['/signup']">Brand LogIn/Register</a></li>
            <!-- <li><a [routerLink]="['/eventsuccess']">Help</a></li> -->
          </ul>
        </div>
        <div class="col-3 columns">
          <div class="heading" style="padding: 38px;">Connect With Us</div>
          <ul class="icons">
            <li><a><img src="assets/images/icons8-instagram-26.png" class="icon-img" /></a></li>
            <li><a><img src="assets/images/icons8-facebook-32.png" class="icon-img" /></a></li>
            <li><a><img src="assets/images/twitterwhite.png" class="icon-img" /></a></li>
          </ul>
        </div>
      </div>
      <br /><br />
    </div>
    </div>